E2E_USERNAME=your_active_username
E2E_PASSWORD=your_active_password
E2E_INACTIVE_USERNAME=your_inactive_username
E2E_INACTIVE_PASSWORD=your_inactive_password
E2E_WRONG_PASSWORD=your_wrong_password
E2E_BASE_URL=https://www.karmaplaywright.com
E2E_DOCTOR_USERNAME=your_doctor_username
E2E_DOCTOR_PASSWORD=your_doctor_password
